<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- NFC permissions -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Declare NFC feature (not required, so it works on devices without NFC too) -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

</manifest>
